<div>
   <app-card titulo="BASIC"
     conteudo="$"
     conteudo1="19.99"
     conteudo2="500GB Storage"
     conteudo3='2 Uses Allowed'
     conteudo4='Send up to 3GB'
     (enviar)="open()"
     ></app-card>
   <app-card titulo="PROFISSIONAL"
    conteudo="$"
    conteudo1="24.99"
    conteudo2="1TB Storage"
    conteudo3='5 Uses Allowed'
    conteudo4='Send up to 10GB'
    background="blueviolet"
    color="white"
    btnColor="white"
    (enviar)="open()"
    height="550"
    ></app-card>
   <app-card titulo="MASTER"
   conteudo="$"
   conteudo1="39.99"
   conteudo2="2TB Storage"
   conteudo3='10 Uses Allowed'
   conteudo4='Send up to 20GB'
   (enviar)="open()"
   ></app-card>
</div>